.sp-header {
  height: 40px;
  background-color: #fff;
}

.sp-header .sp-button {
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  height: 40px;
  line-height: 18px;
  padding: 10px;
}

.sp-header-title h2 {
  font-size: 15px;
  line-height: 40px;
  margin: 0;
}

.panel .sp-content {
  margin: -1px;
}

.sp-content .sp-widget-header{
  background-color: #fff;
}

.sp-content .sp-widget-header,
.sp-content .sp-widget-content {
  border-color: #e8e8e8;
  font-weight: normal;
}

.sp-content .sp-event {
  padding: 4px 6px;
}

.sp-event {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}